@media (min-width: 991.98px) {
  .navbar .nav-link {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

@media (min-width: 991.99px) and (max-width: 1399px) {
.custom-card .card-title{
  font-size: 24px;}
}
